.main {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    align-items: center;
    margin-bottom: 10px;
}
.row span {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}
.row input[type="radio"] {
    margin-left: 10px;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.button-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}