/* 선반 스타일 */
.shelf {
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.33% - 20px); /* 선반을 한 줄에 3개씩 배치 */
    height: 200px; /* 고정된 높이 설정 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* 패딩을 포함하여 크기 계산 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* today만 색깔 다르게*/
#todayFridge .shelf{
    background-color: #d1e7f7; /* 연한 파란색 */
    border: 1px solid #a3c8dc;
    padding: 10px;
    border-radius: 5px;
}

#todayFreeze .shelf{
    background-color: #d1e7f7; /* 연한 파란색 */
    border: 1px solid #a3c8dc;
    padding: 10px;
    border-radius: 5px;
}

.shelf img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}
.shelf .name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #333;
}
.shelf .expiry-date {
    font-size: 12px;
    color: #777;
    margin-bottom: 3px;
}
.shelf .usage-count {
    font-size: 12px;
    color: #555;
}

/* 냉장/냉동 공간 스타일 */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    margin-top: 20px;
}

#refrigerated, #frozen {
    margin-bottom: 20px;
}

